amqp
asgiref
async-timeout
billiard
celery
click
click-didyoumean
click-plugins
click-repl
colorama
Django
djangorestframework
fontawesomefree
gunicorn
kombu
packaging
prompt-toolkit
psycopg2
pyperclip
python-dateutil
pytz
redis
six
sqlparse
typing_extensions
tzdata
vine
wcwidth
whitenoise
