{% load static %}
<!doctype html>
{% if quits.all.count != 0 %}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="{% static 'base/css/new.css' %}">
            <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
            <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
            <title>Quitter</title>
        </head>
        <body>
            <header>
                {% include 'common/header.html' %}
            </header>
            <div class="hidden-header" style="display: none">
                {% include 'common/header.html' %}
            </div>
            <main id="quits-container">
                {% for quit in quits %}
                    <section class="single_content border-details">
                        <div>
                            <article>
                                <div class="container3">
                                    <h3>
                                        <div class="container-edit">
                                            <a href="{% url 'profile_preview' pk=quit.user.pk %}">
                                                <img class="profile_image" src="{{ quit.user.profile_picture }}" alt="quit_photo">
                                            </a>
                                            <a class="underline" href="{% url 'profile_preview' pk=quit.user.pk %}">{{ quit.user.username }}</a>
                                        </div>
                                    </h3>
                                    <h3>
                                        <a class="underline" href="{% url 'preview_quit' pk=quit.pk %}">
                                            {{ quit.title }}
                                        </a>
                                    </h3>
                                </div>
                                <p class="description wrap-overflow">{{ quit.description }}</p>
                                <img class="formatted_images2" src="{{ quit.photo.url }}" alt="quit_photo">
                                <p>
                                    {{ quit.like_set.count }} {% if quit.like_set.count == 1 %}like{% else %}likes{% endif %},
                                    {{ quit.comment_set.count }} {% if quit.comment_set.count == 1 %}comment:{% else %}comments:{% endif %}
                                    <a href="{% url 'like' pk=quit.pk %}">
                                        {% if quit.already_liked %}
                                                <i class="fa-solid fa-heart" style="color: #8d2a2a;"></i>
                                        {% else %}
                                            <i class="fa-solid fa-heart fa-beat-fade" style="color: #8d2a2a;"></i>
                                        {% endif %}
                                    </a>
                                    <a href="{% url 'share' pk=quit.pk %}">
                                        <i class="fa-solid fa-share-from-square fa-fade" style="color: #05ffac;"></i>
                                    </a>
                                </p>
                                {% if not quit.tagged_people.all %}
                                    <h4>No tagged people</h4>
                                {% else %}
                                    <h4>@{{ quit.tagged_people.all|join:", @" }}</h4>
                                {% endif %}
                                <form action="{% url 'comment' pk=quit.pk %}" class="signin-form" method="post">
                                    <div class="container-edit">{{ comment_form.comment_text }}
                                        <button type="submit" class="button-style">Post Comment</button>
                                    </div>
                                    {% csrf_token %}
                                </form>
                            </article>
                        </div>
                    </section>
                {% endfor %}
                <h3 class="profile_details">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">
                            <button class="button-style">Back</button>
                        </a>
                    {% endif %}
                    Page: {{ page_obj.number }} / {{ paginator.num_pages }}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">
                            <button class="button-style">Next</button>
                        </a>
                    {% endif %}
                </h3>
            </main>
            <footer>
                {% include 'common/footer.html' %}
            </footer>
        </body>
        {% if quits.count != 1 %}
            <script>
            window.addEventListener("DOMContentLoaded", function() {
                    const header = document.getElementById("fixed-header");
                    const stickyOffset = 180;
                    function myFunction() {
                        if (window.pageYOffset > stickyOffset && !header.classList.contains("sticky")) {
                            header.classList.add("sticky");
                            document.body.style.paddingTop = header.offsetHeight + "px";
                        } else if (window.pageYOffset <= stickyOffset && header.classList.contains("sticky")) {
                            header.classList.remove("sticky");
                            document.body.style.paddingTop = 0;
                        }
                    }
                    window.addEventListener("scroll", myFunction);
                }
            );
        </script>
        {% endif %}
    </html>
{% else %}
    <html lang="en" style="height: 100%">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="{% static 'base/css/new.css' %}">
            <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
            <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
            <title>Quitter</title>
        </head>
        <body>
            <header>
                {% include 'common/header.html' %}
            </header>
                <main>
                    <h1 style="text-align:center;">Nothing found...
                        <a class="underline" href="{% url 'index' %}">
                            <button class="button-style">Back to Main Page</button>
                        </a>
                    </h1>
                </main>
            <footer>
                {% include 'common/footer.html' %}
            </footer>
        </body>
    </html>
{% endif %}