{% load static %}
<!doctype html>
{% if user.photos_set.all|length == 0 %}
    <html lang="en" style="height: 100%">
{% else %}
    <html lang="en">
{% endif %}
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="{% static 'base/css/new.css' %}">
            <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
            <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
            <title>PreviewProfile</title>
        </head>
        <body>
            <header>
                {% include 'common/header.html' %}
            </header>
            <main class="profile_details">
                <h1>{{ user.username }}, {{ user.follow_user.count }} {% if user.follow_user.count == 1 %}follower{% else %} followers{% endif %}
                    <a class="underline" href="{% url 'follow' pk=user.pk %}">
                        <button class="button-style">Follow</button></a> <a class="underline" href="{% url 'index' %}">
                        <button class="button-style">Back to Main Page</button>
                    </a>
                </h1>
                <section class="border-details">
                    <h2>
                        {{ user.photos_set.all|length }}{% if user.photos_set.all|length == 1 %} photo.{% else %} photos.{% endif %}
                    </h2>
                        {% if user.photos_set.all %}
                            <div class="details_container">
                                {% for photo in user.photos_set.all %}
                                    <article>
                                        <h2>{{ photo.name }}</h2>
                                        <h3>{{ photo.about }}</h3>
                                        <img class="formatted_images" src="{{ photo.url }}" alt="photo_url">
                                        <h4>{{ photo.published }}</h4>
                                    </article>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h3>Well, he/she hasn't posted any photos yet.</h3>
                        {% endif %}
                </section>
                <section class="border-details">
                    <h2>
                        {{ user.quit_set.all|length }}
                        {% if user.quit_set.all|length == 1 %} quit.{% else %} quits.{% endif %}
                    </h2>
                        {% if user.quit_set.all %}
                            <div class="details_container">
                                {% for quit in user.quit_set.all %}
                                    <article>
                                        <h3>{{ quit.title }}
                                            <a href="{% url 'preview_quit' quit.pk %}">
                                                <button class="button-style">Preview</button>
                                            </a>
                                        </h3>
                                        <h3 class="wrap-overflow">{{ quit.description }}</h3>
                                        <img class="formatted_images" src="{{ quit.photo.url }}" alt="photo_url">
                                        <div class="add_field extended_register full_width">
                                            {{ quit.like_set.count }} {% if quit.like_set.count == 1 %}like{% else %}likes{% endif %},
                                            {{ quit.comment_set.count }} {% if quit.comment_set.count == 1 %}comment{% else %}comments{% endif %}
                                        </div>
                                        {% if not quit.tagged_people.all %}
                                            <h4>No tagged people</h4>
                                        {% else %}
                                            <h4>@{{ quit.tagged_people.all|join:", \@" }}</h4>
                                        {% endif %}
                                    </article>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h3>Well, he/she hasn't posted any quits yet.</h3>
                        {% endif %}
                </section>
            </main>
            <footer>
                {% include 'common/footer.html' %}
            </footer>
        </body>
        <script>
            window.addEventListener("DOMContentLoaded", function() {
                    const header = document.getElementById("fixed-header");
                    const stickyOffset = 180;
                    function myFunction() {
                        if (window.pageYOffset > stickyOffset && !header.classList.contains("sticky")) {
                            header.classList.add("sticky");
                            document.body.style.paddingTop = header.offsetHeight + "px";
                        } else if (window.pageYOffset <= stickyOffset && header.classList.contains("sticky")) {
                            header.classList.remove("sticky");
                            document.body.style.paddingTop = 0;
                        }
                    }
                    window.addEventListener("scroll", myFunction);
                }
            );
        </script>
    </html>
