{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>EditPhoto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'base/css/new.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        {% include 'common/header.html' %}
    </header>
    <main>
        <h1 style="text-align:center;">Let's edit that photo!
            <a class="underline" href="{% url 'profile_details' %}">
                <button class="button-style">Back to profile</button>
            </a>
        </h1>
        <section class="border-details">
            <div class="container extended_register">
                <form action="{% url 'edit_photo' pk=object.pk %}" class="signin-form" method="post">
                    <div>{{ form.name }}</div>
                    <div class="add_field">{{ form.about }}</div>
                    <div class="add_field">{{ form.url }}</div>
                    <div class="add_field"><img class="formatted_images2" src="{{ object.url }}" alt="object.url"></div>
                    <div>
                        <button type="submit" class="button-style">Edit Photo</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </section>
    </main>
    <footer>
        {% include 'common/footer.html' %}
    </footer>
</body>
</html>